<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>全国信用信息共享平台</title>
	<% include  ./template/commonCss.ejs %>
	<link href="<%=resUrl%>/css/index.css" rel="stylesheet" type="text/css" />
	<% include ./template/commonJs.ejs %>
	<script type="text/javascript" src="<%=resUrl%>/lib/echarts.min.js"></script>
	<script type="text/javascript" src="<%=resUrl%>/lib/dataUtils.js"></script>
	<script type="text/javascript" src="<%=resUrl%>/js/index.js"></script>
	<style>
		#main{
			margin:100px auto;
			font-size: 50px;
			text-align: center;
			background: none;
		}
	</style>
</head>

<body>
	<div id="main">
		<h1>this is index page</h1>
	</div>
</body>

</html>